version: "3.9"

services:
  mahallino_postgis:
    image: kartoza/postgis:14-3.2
    container_name: mahallino_postgis
    volumes:
      - db_land:/var/lib/postgresql/data
    restart: on-failure
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASS=Alireza12851376
      - POSTGRES_DBNAME=mahallino
    expose:
      - 5432
    networks:
      - main

  mahallino_geoserver:
    image: kartoza/geoserver:2.20.4
    container_name: mahallino_geoserver
    ports:
      - '8081:8081'
    restart: always
    environment:
      - GEOSERVER_ADMIN_USER=sedreh
      - GEOSERVER_ADMIN_PASSWORD=ABcd1234!@
    volumes:
      - geoserver_sedreh:/opt/geoserver/data_dir
      - geoserver_footprints_sedreh:/opt/footprints_dir
      - geoserver_gwc_sedreh:/opt/geoserver/data_dir/gwc
      - geoserver_letsencrypt_sedreh:/etc/letsencrypt
      - geoserver_fonts_sedreh:/opt/fonts
      - ./Server/media/:/media
    depends_on:
      - mahallino_postgis
    networks:
      - main


  mahallino_app:
    build:
      context: ./django
    command: sh -c "gunicorn config.wsgi --bind 0.0.0.0:8000"
    container_name: mahallino_app
    depends_on:
      - mahallino_postgis
      - mahallino_geoserver
    expose:
      - 8000
    environment:
      - DB_HOST=mahallino_postgis
      - DB_NAME=mahallino
      - DB_USER=postgres
      - DB_PASS=Alireza12851376
      - DB_PORT=5432
      - DB_SCHEMA=public
      - GEOSERVER_USERNAME=sedreh
      - GEOSERVER_PASSWORD=ABcd1234!@
      - GEOSERVER_WORKSPACE=mahallino
      - GEOSERVER_NAMESPACE=localhost
      - GEOSERVER_HOST=mahallino_geoserver
      - GEOSERVER_PORT=8080
      - GEOSERVER_HOST_IP=localhost
      - ALLOW_ORIGIN=http://localhost:3000
    networks:
      - main
    restart: on-failure

  mahallino_nginx:
    container_name: mahallino_nginx
    command: nginx -g 'daemon off;'
    depends_on:
      - mahallino_app
    image: nginx:latest
    networks:
      - main
    ports:
      - "80:80"
    restart: on-failure
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

networks:
  main:

volumes:
  db_land:
  postgres_data:
  geoserver_sedreh:
  geoserver_footprints_sedreh:
  geoserver_gwc_sedreh:
  geoserver_letsencrypt_sedreh:
  geoserver_fonts_sedreh: